{% extends "template.html"%}
{% block conteudo %}
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Console</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for planilha in planilhas %}
        <tr>
            <td>{{ planilha.nome }}</td>
            <td>{{ planilha.categoria }}</td>
            <td>{{ planilha.console }}</td>
            <td><a href="{{ url_for('editar', id=planilha.id) }}">Editar</a></td>
            <td><a href="{{ url_for('deletar', id=planilha.id) }}">Deletar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}