{% extends "template.html" %}
{% block conteudo %}
  <form class="formularioPlanilha" action="{{ url_for('upload_planilha_mongo') }}" method="post" enctype="multipart/form-data">
    <fieldset>
        {{ form.csrf_token() }}
      <div class="form-group inputBox">
            <span>Browse Planilha</span>
            <input type="file" name="arquivo" id="arquivo"
                    accept=".xlsx,.csv,application/vnd.google-apps.spreadsheet"
                   data-rule-filesize="100" data-target="arquivo" data-error="#err-file-5">
        </div>
      <div class="form-group inputBox">
         {{ form.nome.label(class="form-label") }}
         {{ form.nome(class="form-control") }}
      </div>
      <div class="form-group inputBox">
         {{ form.categoria.label(class="form-label") }}
         {{ form.categoria(class="form-control") }}
      </div>
      <div class="form-group inputBox">
          {{ form.console.label(class="form-label") }}
          {{ form.console(class="form-control") }}
      </div>
       <div class="form-group buttons">
         {{ form.salvar(class="btn btn-primary") }}
           <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
       </div>
    </fieldset>
  </form>
{% endblock %}
